@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: poppins, Arial Helvetica sans-serif sans-serif sans-serif, ;
    src: url();
}

@font-face {
    font-family: ('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
}



.hey-session {
    padding-top: 15rem;
}

.hey-session img {
    padding-left: 13rem;
    padding-bottom: 4px;
}

.hero-text h1 {
    color: #272829;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hero-p {
    padding-top: 1rem;
    padding-bottom: 2rem;
        color: var(--grey-500, #5B5151);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.hero-image img{
    padding-top: 11rem;
}

.st-btn {
    border-radius: 30px;
    display: flex;
border: 2px solid rgba(35, 32, 87, 0.35);
background: #D6D6D6;
height: 72px;
padding: 15px 26px;
justify-content: center;
align-items: center;
gap: 10px;
}

.portfolio {
    margin-right: 57px
}

.hireme {
    margin-right: 57px;
}  

.portfolio, .hireme  {
    color: #232057;
    background: rgba(248, 153, 29, 0.50);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 30px;
    border: 1px solid #B8B7B7;
    width: 139px;
    padding: 14px 30px;
    justify-content: center;
    align-items: center;
}