@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: poppins, Arial Helvetica sans-serif sans-serif sans-serif, ;
    src: url();
}

@font-face {
    font-family: ('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
}

$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #F8991D;
$secondery-color: #232057;

.row {
    margin: 0 !important;
    }

.hey-session {
    padding-top: 13rem;
}

.hey-session img {
    padding-left: 13rem;
    padding-bottom: 4px;
}

.hero-text h1 {
    color: $secondery-color;
    font-family: $font-stack;
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.minename {
    color: $primary-color
}

.hero-p {
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: var(--grey-500, #5B5151);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.hero-image img{
    padding-top: 11rem;
}

.st-btn {
    border-radius: 35px;
    display: flex;
    border: 2px solid rgba(161, 157, 240, 0.35);
    background: #D6D6D6;
    height: 78px;
    padding: 30px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.portfolio {
    margin-right: 17px
}

.hireme {
    margin-right: 57px;
}  

.portfolio, .hireme  {
    color: $secondery-color;
    background: rgba(248, 153, 29, 0.50);
    font-family: $font-stack;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 30px;
    border: 1px solid #B8B7B7;
    width: 139px;
    padding: 14px 30px;
    justify-content: center;
    align-items: center;
}



.all-this-site {
    background-color: #F3F3F3;
}


.hero-image-text {
    padding-top: 4rem;
    width: 1440px;
    height: 305px;
    flex-shrink: 0;
    color: $secondery-color;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}


.boldpart-1 {
    border-radius: 10px;
    background: $secondery-color;
    display: inline-flex;
    transform: rotate(-5.627deg);
    padding: 6px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



.boldpart-2 {
    border-radius: 10px;
background: $primary-color;
display: inline-flex;
transform: rotate(1.73deg);
padding: 6px;
justify-content: center;
align-items: center;
color: $secondery-color;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 1rem;
}

.icons-all p {
    display: flex;
    align-items: center;
    gap: 18px;
}

.hireme:hover {
    background-color: $primary-color;
    width: 180px;
    color:#ffffff;
    transition-duration: 1ms;
}

.portfolio:hover {
    background-color: $primary-color;
    width: 180px;
    color:#ffffff;
    transition-duration: 1ms;
}

.all-ellipse {
    padding-left: 49rem;
    padding-top: 3rem;
}



@media screen and (min-width: 320px) and (max-width: 645px) {


    .hero-text h1 br {
        display: none;
    }

    .hey-session {
        width: 100%;
        padding-top: 8rem;
        
    }

    .hey-session img {
        padding-left: 10rem;
        width: 16rem;
    }

    .hero-image img {
        padding-right: 0rem;
        image-rendering: auto;
    }

    .hero-text h1 {
        font-size: 34px;
        font-weight: 800;
    }

    .hero-p br {
        display: none;
    }

    .hero-p {
        font-size: 14px;
        padding-top: 0rem;
    }

    .hero-image img {
        width: 21rem;
        padding-top: 18%;
        padding-bottom: 4rem;
    }

    .st-btn {
        height: 68px;
    }

    .portfolio, .hireme{
        font-size: 16px;
        padding: 14px, 23px
    }

    .hireme {
        margin-right: 8px;
    }

    .portfolio, .hireme {
        width: 180px;
    }

    .hero-image-text br {
        display: none;
    }

    .hero-image-text {
        font-size: 16px;
        width: 348px;
        padding-top: 2rem;
    }

    .boldpart-2 {
        margin-top: 1rem;
    }

    .boldpart-1, .boldpart-2 {
        font-size: 20px;
    }

    .all-ellipse {
        padding-left: 9rem;
        padding-top: 0rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 990px) {

    .hey-session {
        width: 200%;
        padding-top: 10rem;
        
    }

    .hero-image img {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .hero-image-text br {
        display: none;
    }

    .hero-image-text {
        width: 45rem;
    }
}

// @media screen and (min-width: 1280px) and (max-width: 800px) {

    



// }