@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: poppins, Arial Helvetica sans-serif sans-serif sans-serif, ;
    src: url();
}

@font-face {
    font-family: ('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
}

$font-stack: Arial, Helvetica, sans-serif, poppins;
$primary-color: #F8991D;
$secondery-color: #232057;

/* .row {
    margin: 0 !important;
    }
 */

.row {
    justify-content: space-between;
    padding: 0% 1%;
}

.body2{
    padding: 0% 10%;
}

.hey {
    padding-left: 1rem;
    padding-bottom: 10px;
    padding-top: 110px;
    padding-left: 20%;
    display: flex;
}


.hero-text h1 {
    color: $secondery-color;
    font-family: poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 1rem;
}

.minename {
    color: $primary-color
}

.hero-p {
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: var(--grey-500, #5B5151);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.minename {
    opacity: 0;
    position: absolute;
    padding-left: 1rem;
}

.b1 {
    animation: ani1 8s infinite;
}

.b2 {
    animation: ani2 8s infinite;
}

@keyframes ani1 {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1; /* Keep opacity at 1 until 20% */
    }
    25% {
        opacity: 0; /* Change opacity to 0 instantly */
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


@keyframes ani2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.hireme{
    margin-left: 10px;
    font-family: poppins;
}

.hero-image img {
    padding-top: 11rem;
}

.st-btn {
    border-radius: 40px;
    /* display: flex; */
    border: 2px solid rgba(161, 157, 240, 0.35);
    background: #D6D6D6;
    display: inline-block;
    font-family: poppins;
    padding: 1% 4%;
}


.hero-img1 img{
    width: 115%;
    height: 100%;
    padding-top: 80px;
    object-fit: contain;
}

.hireme {
    color: $secondery-color;
    // background: rgba(248, 153, 29, 0.50);
    font-family: poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 30px;
    border: 1px solid #B8B7B7;
    width: 139px;
    padding: 14px 25px;
    margin-left: 3rem;
    justify-content: center;
    align-items: center;
}

.hireme:hover {
    background-color: $primary-color;
    width: 180px;
    color:#ffffff;
    transition-duration: 1ms;
}


.portfolio  {
    color: $secondery-color;
    background: rgba(248, 153, 29, 0.50);
    font-family: poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 30px;
    border: 1px solid #B8B7B7;
    width: 139px;
    padding: 14px 25px;
    justify-content: center;
    align-items: center;
}

.portfolio:hover {
    background-color: $primary-color;
    width: 180px;
    color:#ffffff;
    transition-duration: 1ms;
}


.all-this-site {
    background-color: #F3F3F3;
}


.hero-image-text {
    padding-top: 4rem;
    width: 1440px;
    height: 305px;
    flex-shrink: 0;
    color: $secondery-color;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}


.boldpart-1 {
    border-radius: 10px;
    background: $secondery-color;
    display: inline-flex;
    transform: rotate(-5.627deg);
    padding: 6px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



.boldpart-2 {
    border-radius: 10px;
background: $primary-color;
display: inline-flex;
transform: rotate(1.73deg);
padding: 6px;
justify-content: center;
align-items: center;
color: $secondery-color;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 1rem;
}

.icons-all p {
    display: flex;
    align-items: center;
    gap: 18px;
}


.all-ellipse {
    padding-left: 49rem;
    padding-top: 3rem;
}

.top-container{
    
    padding-bottom: 0px;
    padding-top: 10px;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center;
    height: 100vh; /* Set the container height to 100% of the viewport height */
}

.custom-container {
    /* padding-right: 5px;
    padding-left: 5px; */
    margin-right: 5%;
    margin-left: 5%;
}


@media screen and (max-width: 992px) {


    .hey {
        width: 100%;
        padding-top: 7rem;
        
    }

    .hero-image img {
        padding-right: 0rem;
        image-rendering: auto;
    }

    .hero-p br {
        display: none;
    }

    .hero-image-text br {
        display: none;
    }

    .hero-image-text {
        font-size: 16px;
        width: 340px;
        padding-top: 2rem;
    }

    .icons-all p {
        gap: 10px
    }

    .boldpart-2 {
        margin-top: 1rem;
    }

    .boldpart-1, .boldpart-2 {
        font-size: 16px;
    }

    .all-ellipse {
        padding-left: 9rem;
        padding-top: 0rem;
    }

    .hireme {
        color: $secondery-color;
        // background: rgba(248, 153, 29, 0.50);
        font-family: poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 30px;
        border: 1px solid #B8B7B7;
        width: 130px;
        padding: 10px 20px;
        // margin-left: 3rem;
        justify-content: center;
        align-items: center;
    }
    
    .hireme:hover {
        background-color: $primary-color;
        width: 170px;
        color:#ffffff;
        transition-duration: 1ms;
    }

    .portfolio  {
        color: $secondery-color;
        background: rgba(248, 153, 29, 0.50);
        font-family: poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 30px;
        border: 1px solid #B8B7B7;
        width: 130px;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
    }
    
    .portfolio:hover {
        background-color: $primary-color;
        width: 170px;
        color:#ffffff;
        transition-duration: 1ms;
    }

    .hero-img1{
        padding-bottom: 70%;
    }

}

@media screen and (min-width: 768px) and (max-width: 1320px) {

    .hero-text h1 {
        font-size: 3rem;
        font-style: normal;
        font-family: poppins;
    } 

    .top-container{
        /* padding-top: 200px; */
        padding-top: 120px;
        display: flex;
        justify-content: center; /* Horizontally center the content */
        align-items: center;
        height: 100vh; /* Set the container height to 100% of the viewport height */
    }


    .kmg-folio-img img, .kmg-folio-img-2  {
        padding-top: 5rem;
    }

    .hero-image-text {
        font-size: 21px;
    }

    .hey {
        width: 200%;
        padding-top: 10rem;
    }

    .hero-p br {
        display: none;
    }

    .all-ellipse {
        padding-left: 20rem;
    }

    .hero-image img {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .hero-image-text br {
        display: none;
    }

    .hero-image-text {
        width: 45rem;
    }
} 


@media (min-width: 1320px) {
    .hero-text h1 {
        font-size: 4rem;
        font-style: normal;
        font-family: poppins;
    } 

    .top-container{
        padding-top: 0px;
        display: flex;
        justify-content: center; /* Horizontally center the content */
        align-items: center;
        height: 100vh; /* Set the container height to 100% of the viewport height */
    }
}
// @media screen and (min-width: 1280px) and (max-width: 800px) {



// }