$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #F8991D;
$secondery-color: #232057;
$secondery-color-2: #272829;



.kmg-folio-btn {
    text-align: center;
    font-family: $font-stack;
    color: #FDFDFD;
    font-size: 16px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 203px;
    height: 52px;
    padding: 18px 30px;
    align-items: center;
    border-radius: 10px;
    border: none;
    background: $secondery-color;
    transition: transform 0.2s ease;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    }


    // Button animation splash

    .kmg-folio-btn:active {
        transform: scale(0.86);
    }

    .kmg-folio-btn::before,
    .kmg-folio-btn::after{
        content: "";
        position: absolute;
        left: 30%;
        transform: translate(100%);
        height: 30%;
        width: 20%;
        z-index: -1;
        background-repeat: no-repeat;
    }

    .kmg-folio-btn.animate::before{
        top: 60%;
        background-image: radial-gradient(circle, #232057 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #232057 20%, transparent 30%),
        radial-gradient(circle, #232057 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #232057 15%, transparent 20%),
        radial-gradient(circle, #232057 20%, transparent 20%),
        radial-gradient(circle, #232057 20%, transparent 20%),
        radial-gradient(circle, #232057 20%, transparent 20%),
        radial-gradient(circle, #232057 20%, transparent 20%);
        background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
        18% 18%;
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 20% 90%,
        40% 90%, 55% 90%, 70% 90%;
        animation: topBubbles 0.6s ease-in-out forwards;
    }
    @keyframes topBubbles {
        50% {
            background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
            50% 50%, 65% 20%, 90% 30%;
        }
        100% {
            background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
            50% 40%, 65% 10%, 90% 20%;
            background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
        }
    }

    .kmg-folio-btn.animate::after{
        bottom: -20%;
        background-image: radial-gradient(circle, #232057 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #232057 15%, transparent 20%),
        radial-gradient(circle, #232057 20%, transparent 20%),
        radial-gradient(circle, #232057 20%, transparent 20%),
        radial-gradient(circle, #232057 20%, transparent 20%),
        radial-gradient(circle, #232057 20%, transparent 20%),
        radial-gradient(circle, #232057 20%, transparent 20%);
        background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
        background-position: 10% 0%, 30% 10%, 55% 0%, 70% 0%, 85% 0%, 70% 0%, 70% 0%;
        animation: bottomBubbles 0.6s ease-in-out forwards;
    }

    @keyframes bottomBubbles {
        50% {
            background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
            105% 0%;
        }
        100%{
            background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
            110% 10%;
            background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
        }
    }