@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: poppins, Arial Helvetica sans-serif sans-serif sans-serif, ;
    src: url();
}

@font-face {
    font-family: ('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
}

$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #F8991D;
$secondery-color: #232057;
$secondery-color-2: #272829;


.for-bottom {
    padding-bottom: 8rem;
}

.hold-background {
    width: 1200px;
}


.hold-background {
    padding-bottom: 3rem;
    padding-top: 3rem;
    border-radius: 20px;
    border: 2px solid #f8991d99;
    box-shadow: 0px 15px 25px -4px rgba(150, 150, 150, 0.24)
}


.contacts-me h5 {
    color: $secondery-color-2;
font-family: $font-stack;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 25px;
padding-top: 30px;
}

.contacts-me p {
    color: var(--grey-500, #5B5151);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.get-well {
    padding-left: 3rem;
}


.aboutmecont h4 {
    font-family: $font-stack;
    color: $secondery-color;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    text-align: center;
}

.aboutmecont p {
    color: $secondery-color;
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 35px;
}


.btn-send {
    background-color: $primary-color !important;
    padding: 6px 55px !important;
    margin-left: 21rem;
    margin-top: 1rem;
    font-size: 22px  !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 600 !important;
    color: $secondery-color !important;
    box-shadow: 0px 15px 25px -4px rgba(150, 150, 150, 0.24)
}

.form-body {
    padding-right: 3rem;
}

.call-number {
    padding-top: 5rem;
}

.call-number h4 {
    color: #232057;
}

.email-envelop h4 {
    font-size: 24px;
    padding-bottom: 2rem;
    color: $secondery-color;
}

.bbtn2 {
    margin-right: 15px;
    color: $secondery-color;
    
}


@media (max-width: 990px) {

    .form-body {
        padding-right: 1rem;
    }

    .aboutmecont p br {
        display: none;
    }

    .aboutmecont p {
        font-size: 14px;
    }

    .hold-background {
        width: 95%;
    }


    .get-well {
        padding-left: 0rem;
    }

    .btn-send {
        margin-left: 0rem;
    }

    .aboutme h4 {
        padding-top: 1rem;
    }

    .aboutme p br {
        display: none;
    }

    .aboutme p {
        font-size: 13px;
    }

    .email-envelop h4, .call-number h4 {
        font-size: 18px;
        padding-bottom: 1rem;
    }



    // .get-to-know-me h5 {
    //     padding-top: 2rem;
    // }

    // .get-to-know-me h5 {
    //     padding-top: 0rem;
    // }

    // .get-to-know-me p {
    //     font-size: 12px;
    // }






}