@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: poppins, Arial Helvetica sans-serif sans-serif sans-serif, ;
    src: url();
}

@font-face {
    font-family: ('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
}

$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #F8991D;
$secondery-color: #232057;
$secondery-color-2: #272829;


.aboutme-big h2 {
    color: #272829;
text-align: center;
margin-left: 6rem;
padding-top: 300px;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}



.aboutme-big p {
    color: #000;
text-align: center;
margin-left: 6rem;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}



.kmg-folio-big-btn {
    text-align: center;
    font-family: $font-stack;
    color: #FDFDFD;
    font-size: 16px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 203px;
    height: 52px;
    margin-left: 6rem;
    padding: 18px 30px;
    align-items: center;
    border-radius: 10px;
    border: none;
    background: $secondery-color;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    }

    .aboutme-big-img {
        padding-top: 6rem;
        padding-top: 190px;
    }


    .get-to-know-me-folio h5 {
        color: $secondery-color-2;
    font-family: $font-stack;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 30px;
    padding-top: 40px;
    }


.folio-text h5 {
    color: $secondery-color;
font-family: Poppins;
font-size: 32px;
padding-top: 5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.folio-session {
    color: var(--grey-500, #5B5151);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.folio-session h5 {
    padding-bottom: 2rem;
}

    .skills-list-12 {
        display: flex;
        
        
    }
    
    .skills-list-13 {
    border-radius: 5px;
    background: #5B515140;
    padding: 3px 15px;
    margin-right: 1rem;
    }
    
    .skills-list-12 p {
        color: $secondery-color;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    }

    .btnn1 {
        color: #FDFDFD;

        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
    
    }

    .btnn-2 {
        color: $secondery-color;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
    }

    .btnn-121 .btnn1 {
        
width: 203px;
height: 52px;
padding: 18px 30px;
justify-content: space-between;
align-items: center;
border-radius: 10px;
background: #232057;
box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    }