@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: poppins, Arial Helvetica sans-serif sans-serif sans-serif, ;
    src: url();
}

@font-face {
    font-family: ('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
}



$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #F8991D;
$secondery-color: #232057;
$secondery-color-2: #272829;
$semi-secondery-color: #e2e2e2;
$portfoliobg: #7752FE;
$portfoliobg2: #FFF0CE;




.row {
    margin: 0 !important;
}


.nexcentfolio-big h2 {
    color: #272829;
text-align: center;
// margin-left: 6rem;
padding-top: 300px;
// padding-left: rem;
font-family: Poppins;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}



.nexcentfolio-big p {
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;

font-weight: 400;
line-height: normal;
}


.nexcent-big-btn {
    font-family: $font-stack;
    color: #FDFDFD;
    font-size: 16px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 203px;
    height: 52px;
    padding: 18px 30px;
    align-items: center;
    border-radius: 10px;
    border: none;
    background: $secondery-color;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    }

    .nexconta {
        text-align: center;
    }


    .nexvent-body {
        padding-top: 10rem;
        padding-left: 16rem;
    }






    // Here is from tools

.folio-text h5 {
    color: $secondery-color;
font-family: Poppins;
font-size: 32px;
padding-top: 5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.folio-session {
    color: var(--grey-500, #5B5151);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 2rem;
}

.folio-session h5 {
    padding-bottom: 2rem;
}

    .skills-list-12 {
        display: flex;
        
        
    }
    
    .skills-list-13 {
    border-radius: 5px;
    background: $semi-secondery-color;
    padding: 3px 15px;
    margin-right: 1rem;
    }
    
    .skills-list-12 p {
        color: $secondery-color;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    }

    .btnn1 {
        color: #FDFDFD;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
    
    }

    .btnn-2 {
padding: 13px 25px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 10px;
border: 2px solid $secondery-color;
color: $secondery-color;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: normal;
background-color: #FDFDFD;
    }


    .btnn-111 {
        padding-bottom: 7rem;
    }


    .btnn-121 .btnn1 {
        
width: 203px;
height: 52px;
padding: 18px 30px;
justify-content: space-between;
align-items: center;
border-radius: 10px;
background: $secondery-color;
box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    }

    .btnn1 {
        text-align: center;
        font-family: $font-stack;
        color: #FDFDFD;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        width: 203px;
        height: 52px;
        padding: 18px 30px;
        align-items: center;
        border-radius: 10px;
        border: none;
        margin-right: 2rem;
        background: $secondery-color;
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    }

    .overall-container {
        background-color: #232057;
        width: 100% !important;
        left: 0;
        right: 0;
        padding: 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .overall-container h3 {
        padding-bottom: 0px;
        
    }
    
    .get-to-know-me {
        color: #fff !important;
        
    }

    .get-to-know-me p{
        color: #fff !important;

    }

    .get-to-know-me2 {
        color: #fff !important;
        border-left: 2px solid #fff;
        height: 100%;
        
        
    }

    .description{
        padding-left: 20px;
    }

    .get-to-know-me2 p{
        color: #fff !important;
        
        
    }

    .heading {
        color: #fff;
        padding-left: 100px;
        // text-align: center;
    }
    
    
    
    
    .header {
        padding-left: 10px;
        padding-bottom: 30px;
    }

    .header2 {
        padding-left: 20px;
        padding-bottom: 30px;
    }
    
    .footers {
        background-color:#232057;
        color: #FFFFFF;
        height: 100%;
        padding: 55px 189px;
    }

    .footers2 {
        background-color: $portfoliobg;
        color: #FFFFFF;
        height: 100%;
        padding: 55px 189px;
    }

    .footers3 {
        background-color: $portfoliobg2;
        color: $secondery-color;
        height: 100%;
        padding: 55px 189px;
    }

    .footers4{
        background-color: $secondery-color;
        color: #FFFFFF;
        height: 100%;
        padding: 55px 189px;
    }



    // .overall-container2 {
    //     background-color: $portfoliobg;
    //     width: 100% !important;
    //     left: 0;
    //     right: 0;
    //     padding: 0px 0px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
        
    // }
    
    .portfolio-bgs, .portfolio-bgs4, .portfolio-bgs2 {
        background-color:#232057;
        height: 100%;
        padding: 55px 189px;
    }

    .portfolio-bgs {
        background-color: $portfoliobg2;
    }

    

    .portfolio-bgs3 {
        background-color: #7752FE;
    }

    
    .bbtn1 {
        margin-right: 10px;
        
    }

    .bold-text {
        font-weight: 600;
    }

    .skills {
        padding: 6px 8px;
        background-color: #fdfdfd25;
        display: inline;
        border-radius: 5px;
        margin-right: 10px;
    }

    .skills-container{
        gap: 50px;
        padding-top: 25px;
    }




    
    
    
    