@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: poppins, Arial Helvetica sans-serif sans-serif sans-serif, ;
    src: url();
}

@font-face {
    font-family: ('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
}


$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #F8991D;
$secondery-color: #232057;
$secondery-color-2: #272829;
$semi-secondery-color: #e2e2e2;



.hero-text-about {
    padding-top: 22rem;
    color: var(--grey-500, #5B5151);
font-family: Poppins;
font-size: 65px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.hero-about-image {
    padding-top: 10rem;
    padding-left: 5rem;
}



.about-1 {
    padding-top: 3rem;
}

.aboutme, .experience {
    text-align: center;
}

.aboutme h4, .experience h4 {
    font-family: $font-stack;
    color: $secondery-color;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 7rem;
}

.aboutme p {
    color: $secondery-color-2;
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 35px;
}

.line {
    display: block;
    width: 60px;
    height: 5px;
    margin: 1px auto;
    background-color: $primary-color;
    border-radius: 6px;
    
}


.get-to-know-me h5 {
    color: $secondery-color-2;
font-family: $font-stack;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 25px;
padding-top: 30px;
}

.get-to-know-me p {
    color: var(--grey-500, #5B5151);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.more-bold-body {
font-family: $font-stack;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.conta-1 {
text-align: center;
font-family: $font-stack;
color: #FDFDFD;
font-size: 16px;
margin-top: 35px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 203px;
height: 52px;
padding: 18px 30px;
align-items: center;
border-radius: 10px;
border: none;
background: #232057;
box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.skills-list {
    display: flex;
    
    
}

.skills-list-1 {
border-radius: 5px;
background: $semi-secondery-color;
padding: 3px 15px;
margin-right: 1rem;
}

.skills-list p {
    color: $secondery-color;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.experience {
    text-align: center;
}

.experience h4 {
    font-family: $font-stack;
    color: $secondery-color;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 2rem;
}

.idclngname h4 {
    color: $secondery-color-2;
font-family: $font-stack;
font-size: 29px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-bottom: 5px;
padding-top: 30px;
}

.idclngname p {
    color: var(--grey-500, #5B5151);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.Year-of-work h5 {
    color: $secondery-color-2;
font-family: $font-stack;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 1px;
padding-top: 30px;
}

.Year-of-work p {
    color: var(--grey-500, #5B5151);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.gbengus12 {
    padding-bottom: 8rem;
}


.Experience {
    
    width: 46px;
    margin-left: 4rem;
    padding-top: 1rem;
}

@media screen and (max-width: 645px) {

    .get-to-know-me h5 {
        font-size: 22px;
    }

    .aboutme h4, .experience h4 {
        font-size: 24px;
    }

    .aboutme p br {
        display: none;
    }

    .aboutme p {
        font-size: 13px;
    }

    .get-to-know-me p br {
        display: none;
    }

    .get-to-know-me p {
        font-size: 13px;
    }

    .skills-list {
        display: grid;
    }

    .skills-list {
        font-size: 13px;
    }

    .conta-1 {
        margin-bottom: 2rem;
        width: 140px;
    }

    .idclngname p br {
        display: none;
    }

    .Year-of-work p br {
        display: none;
    }

    .idclngname p {
        font-size: 14px;
    }

    .Year-of-work p {
        font-size: 14px;
    }

    .Year-of-work h5 {
        font-size: 20px;
    }

    .Experience {
        margin-left:  0rem;
        width: 0rem;
    }

    .idclngname h4 {
        font-size: 25px;
    }




}