@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: poppins, Arial Helvetica sans-serif sans-serif sans-serif, ;
    src: url();
}

@font-face {
    font-family: ('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
}


$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #F8991D;
$secondery-color: #232057;
$secondery-color-2: #272829;


.hero-text-about {
    padding-top: 22rem;
    color: var(--grey-500, #5B5151);
font-family: Poppins;
font-size: 65px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.hero-about-image {
    padding-top: 10rem;
    padding-left: 5rem;
}



.about-1 {
    padding-top: 3rem;
}

.aboutme, .experience {
    text-align: center;
}

.aboutme h4, .experience h4 {
    font-family: $font-stack;
    color: $secondery-color;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 7rem;
}

.aboutme p {
    color: $secondery-color-2;
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 35px;
}

.line {
    display: block;
    width: 60px;
    height: 5px;
    margin: 1px auto;
    background-color: $primary-color;
    border-radius: 6px;
    
}

.get-to-know-me h5 {
    color: $secondery-color-2;
font-family: $font-stack;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 25px;
padding-top: 30px;
}

.get-to-know-me p {
    color: var(--grey-500, #5B5151);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.more-bold-body {
font-family: $font-stack;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.conta-1 {
text-align: center;
font-family: $font-stack;
color: #FDFDFD;
font-size: 16px;
margin-top: 35px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 203px;
height: 52px;
padding: 18px 30px;
align-items: center;
border-radius: 10px;
border: none;
background: #232057;
box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.skills-list {
    display: flex;
    
    
}

.skills-list-1 {
border-radius: 5px;
background: #5B515140;
padding: 3px 15px;
margin-right: 1rem;
}

.skills-list p {
    color: $secondery-color;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.experience {
    text-align: center;
}

.experience h4 {
    font-family: $font-stack;
    color: $secondery-color;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 2rem;
}

.idclngname h5 {
    color: $secondery-color-2;
font-family: $font-stack;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 25px;
padding-top: 30px;
}

.idclngname p {
    color: var(--grey-500, #5B5151);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.Year-of-work h5 {
    color: $secondery-color-2;
font-family: $font-stack;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 25px;
padding-top: 30px;
}

.Year-of-work p {
    color: var(--grey-500, #5B5151);
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.circle {
    height: 46px;
    width: 46px;
    margin-left: 4rem;
    padding-top: 1rem;
}

.circle .overlap-group {
    border-radius: 25px;
    height: 50px;
    left: -2px;
    position: relative;
    top: -2px;
    width: 50px;
}

.circle .ellipse {
    background-color: #f8991d;
    border-radius: 17px;
    height: 34px;
    left: 8px;
    position: absolute;
    top: 8px;
    width: 34px;
}

.circle .elip {
    border: 2px dashed;
    border-color: #5b5151;
    border-radius: 25px;
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px;
}

